# SPDX-License-Identifier: GPL-2.0-or-later
#
# ESP32-S3 Built-in JTAG for Zephyr RTOS debugging with Espressif OpenOCD.
# This is a dedicated single-core Zephyr-aware debug config.

source [find interface/esp_usb_jtag.cfg]

# Zephyr RTOS thread awareness.
set ESP_RTOS "Zephyr"

# For Zephyr debugging on ESP32-S3, force PRO CPU only.
set ESP_ONLYCPU 0x1

source [find target/esp32s3.cfg]
